# PostgreSQL (Supabase)
POSTGRES_URL=postgresql://USUARIO:PASSWORD@HOST:5432/postgres

# MongoDB Atlas
MONGO_URI=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/

# Base de datos MongoDB
MONGO_DB=ecommify_db

# Ruta donde están los CSV
DATA_PATH=./data/raw