# ==========================================
# Variables de entorno
# ==========================================

.env
.env.*

# Mantener ejemplo de configuración
!.env.example


# ==========================================
# Entornos virtuales
# ==========================================

venv/
.venv/
env/
ENV/


# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
.eggs/
*.egg-info/
*.egg

pip-wheel-metadata/


# ==========================================
# Pytest
# ==========================================

.pytest_cache/


# ==========================================
# Coverage
# ==========================================

.coverage
.coverage.*
htmlcov/


# ==========================================
# Jupyter / Colab
# ==========================================

.ipynb_checkpoints/


# ==========================================
# PyCharm
# ==========================================

.idea/


# ==========================================
# VS Code
# ==========================================

.vscode/


# ==========================================
# Sistema Operativo
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Logs
# ==========================================

*.log


# ==========================================
# Archivos temporales
# ==========================================

*.tmp
*.temp


# Mantener la carpeta en Git
!data/raw/README.md


# ==========================================
# Resultados locales
# ==========================================

*.sqlite
*.db


# ==========================================
# Archivos de MongoDB locales
# ==========================================

*.wt
*.bson


# ==========================================
# Archivos de respaldo
# ==========================================

*.bak
*.backup